.fundo-branco-1 {
    background: #FFF;
    color: #56809F;
}

.fundo-branco-2 {
    background: #FFF;
    color: #040504;
}

.fundo-cinza {
    background: #e6e9e8;
    color: #56809F;
}

.fundo-azul-claro {
    background: #56809F;
    color: #FFF;
}

.fundo-azul-escuro-1 {
    background: #1B4464;
    color: #FFF;
}

.fundo-azul-escuro-2 {
    background: #1B4464;
    color: #56809F;
}

.fundo-preto {
    background: #040504;
    color: #FFF;
}